body >*:not(header):not(#center) {
  display: none;
}

body {
  font-size: 1.25em;
}

body {
  background-color: white;
  color: black;
}

@media print {
  a:link:after, a:visited:after {
    content: " (" attr(href) ") ";
  }
}
